
#map {
    margin: 100px auto;
    height: 30em;
    width: 50%;
  }

.map-search {
  width: 80%;
  height: auto;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
}

.card{
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  margin: 15px auto;
}

.card-container {
  margin: 0 auto;
  width: 50%;
  text-align: left;
  justify-items: center;
}
  