.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-calendar {
  min-width: 100%;
  padding: 8px;
}
.btn-save {
  width: 130px;
  height: 38px;
  background-color: #ff5c00;
  border: 1px solid #ffffff;
  box-shadow: 0 0 7px 0px #d2d2d2;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
}

.btn-save:hover {
  color: #737373;
  background-color: #fff;
  border: 1px solid #ff5c00;
  cursor: pointer;
}

/* Custom css to override the bootstrap carousel css */
.carousel {
  width: 100%;
}
.carousel-item img {
  height: 100%;
  width: 100%;
}
.carousel-item.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel a {
  color: #fff;
}
.carousel a:hover {
  text-decoration: none;
}
.carousel-item.active .carousel-caption {
  align-self: center;
  align-items: center;
}
.carousel-caption {
  bottom: auto;
  padding: 33px 11px;
  right: 0;
  left: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.033);
}
.carousel-caption:hover {
  background-color: rgba(255, 255, 255, 0.167);
}
@media (min-width: 992px) {
  .carousel-indicators {
    bottom: 25%;
  }
}
@media (max-width: 991px) {
  .carousel-indicators {
    bottom: 2%;
  }
}

.carousel-indicators li {
  background-image: url("https://images.vexels.com/media/users/3/157292/isolated/preview/1013ce3cf5903ef5afe01f0fd443dc03-colorful-whole-pizza-design-by-vexels.png") !important;
  width: 43px;
  height: 43px;
  background-size: cover;
  background-color: transparent;
}
.carousel-indicators li.active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transition: 200ms linear all;
}


#loading-pizza {
  animation: loading-spin infinite 2s linear;
  pointer-events: none;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}