.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-calendar {
  min-width: 100%;
  padding: 8px;
}
.btn-save {
  width: 130px;
  height: 38px;
  background-color: #ff5c00;
  border: 1px solid #ffffff;
  box-shadow: 0 0 7px 0px #d2d2d2;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
}

.btn-save:hover {
  color: #737373;
  background-color: #fff;
  border: 1px solid #ff5c00;
  cursor: pointer;
}
