.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-calendar {
  min-width: 100%;
  padding: 8px;
}
.btn-save {
  width: 130px;
  height: 38px;
  background-color: #ff5c00;
  border: 1px solid #ffffff;
  box-shadow: 0 0 7px 0px #d2d2d2;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
}

.btn-save:hover {
  color: #737373;
  background-color: #fff;
  border: 1px solid #ff5c00;
  cursor: pointer;
}

/* Custom css to override the bootstrap carousel css */
.carousel {
  width: 100%;
}
.carousel-item img {
  height: 100%;
  width: 100%;
}
.carousel-item.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel a {
  color: #fff;
}
.carousel a:hover {
  text-decoration: none;
}
.carousel-item.active .carousel-caption {
  align-self: center;
  align-items: center;
}
.carousel-caption {
  bottom: auto;
  padding: 33px 11px;
  right: 0;
  left: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.033);
}
.carousel-caption:hover {
  background-color: rgba(255, 255, 255, 0.167);
}
.friends {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: auto;
  align-self: center;
  width: 100%;
  margin-top: 33px;
  padding: 15px 0px;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  background-color: white;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 992px) {
  .carousel-indicators {
    bottom: 25%;
  }
  .friends {
    /* width: 80%; */
    display: flex;
    margin-top: 44px;
    /* border-radius: 5px; */
  }
  .friend {
    width: 145px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .friend img {
    height: auto;
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .modal {
    margin-top: 75px;
  }
  .carousel-indicators {
    bottom: 2%;
  }
  .friends h1 {
    text-align: center;
    width: 100%;
  }
  .friends h2 {
    margin: 8px 0px;
  }
  .friends::-webkit-scrollbar {
    display: none;
  }
  .friend {
    width: 66px;

    flex: 0 0 auto;
    margin: 12px;
    width: 100px;
    height: auto;
  }
}

.carousel-indicators li {
  background-image: url("https://images.vexels.com/media/users/3/157292/isolated/preview/1013ce3cf5903ef5afe01f0fd443dc03-colorful-whole-pizza-design-by-vexels.png") !important;
  width: 43px;
  height: 43px;
  background-size: cover;
  background-color: transparent;
}
.carousel-indicators li.active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transition: 200ms linear all;
}
.missing {
  margin: 25px auto 30px;
}

div.gm-style-iw.gm-style-iw-c {
  display: block;
  height: 100px;
  max-width: 288px;
  position: absolute;
  z-index: 9999;
}
.friends h4,
.modal h2 {
  text-align: center;
  padding: 10px 0px;
}
.friend-avatar {
  margin-top: 12px;
  border: 3.5px solid white;
  border-radius: 50%;
  height: 100px;
}
.tobe-invited {
  margin-top: 25px;
}
.tobe-invited .action {
  background: none;
  border: none;
}
.tobe-invited .action img {
  height: 40px;
  width: 40px;
  padding: 3px;
}
.friend img:hover,
.friend-avatar.friend-invited {
  border: 3.5px solid orange;
}

.btn-close.action {
  border: 1px solid orange;
  opacity: 1;
  padding: 8px;
}
.btn-close.action img {
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
}
.btn-close.action img:hover {
  cursor: pointer;
  background: white;
}
